<section>
  {% if section.settings.title != blank %}
    <div class="featured-collection__section-header text-center text-uppercase">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  {%- assign collection = collections[section.settings.featured_collection] -%}
  <div class="featured-collection__container flex--column margin-block--med">
    {% for product in collection.products %}
      <div class="product__container flex--column">
        <div class="product-image__container">
          <a class="product-image" href="{{ product.url }}">
            {{ product.featured_image | img_url: '600x' | img_tag: product.title }}
          </a>
        </div>
        <div class="product-info__container">
          <h3 class="text-uppercase">{{ product.title }}</h3>
          {% if product.price_min != blank and product.price_max != blank %}
            <p>{{ product.price_min | money }}
              -
              {{ product.price_max | money }}</p>
          {% else %}
            <p>{{ product.price | money }}</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}

{
  "name": "Featured Collection Row",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Collection Title"
    },
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "Featured Collection"
    }
  ],
  "presets": [
    {
      "category": "Products",
      "name":"Featured Collection Row"
    }
  ]
}

{% endschema %}