<section class="full-width-cta">
  <div class="full-width-cta__container margin-block--med">
      {{ section.settings.cta_image | img_url:'1200x' | img_tag: section.settings.cta_image.alt }}
    <div class="full-width-cta__cta flex--column">
      <h2>{{ section.settings.cta_text }}</h2>
      <a href="{{ section.settings.selected_collection.url }}" class="button">{{ section.settings.button_text }}</a>
    </div>
  </div>
</section>


{% schema %}

{
  "name": "Full Width CTA",
  "settings": [
    {
      "type": "image_picker",
      "id": "cta_image",
      "label": "CTA Image"
    }, {
      "type": "range",
      "id": "max_size",
      "min": 300,
      "max": 600,
      "step": 50,
      "unit": "px",
      "label": "Image Max Height",
      "default": 500
    }, {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Heading Text",
      "default": "This is the CTA heading!",
      "placeholder": "New Items on Sale!"
    }, {
      "type": "color",
      "id": "cta_text_color",
      "label": "CTA Heading Text Color",
      "default": "#ffffff"
    }, {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now!",
      "placeholder": "Click Me"
    }, {
      "type": "collection",
      "id": "selected_collection",
      "label": "Featured Collection"
    }
  ],
  "presets": [
    {
      "category": "Images",
      "name": "Full Width CTA"
    }
  ]
}

{% endschema %}

{% style %}
  img {
    max-height: {{ section.settings.max_size }}px;
    object-fit: cover;
  }

  .full-width-cta__cta h2 {
    color: {{ section.settings.cta_text_color }};
  }
{% endstyle %}